#title {
    font-size: 2em;
    font-weight: bold;
}

#caption {
    font-size: 1.5em;
    margin-left: 20px;
}

#description {
    margin-top: 50px;

}

#content {
    margin-top: 50px
}
#free {
    float: right;
    width: 50%;
}

#manage {
    float: left;
    width: 50%;
}