- content_for(:head) do
  = javascript_include_tag('timer.js')

Pomodoro in progress...

- if @running_pomodoro_detected
  .warning Remaining time reflects an old pomodoro

#timer
  #init-value{:class => 'hidden'}
    = @remaining_time

=link_to "Cancel this pomodoro", cancel_pomodoro_path(@pomodoro)
#interruptions
  #internal-interruptions
    =link_to "Internal interruption", "/pomodoros/internalinterruption"
    Current=
    =@pomodoro.internal_interruptions
  #external-interruptions
    =link_to "External interruption", "/pomodoros/externalinterruption"
    Current=
    =@pomodoro.external_interruptions

#finished{:class => 'hidden'}
  Pomodoro finished, do you want to
  - if @pomodoro != nil
    =link_to "start a new one?", close_pomodoro_url(@pomodoro)
  - else
    =link_to "start a new one?", new_pomodoro_url
