- content_for(:head) do
  = javascript_include_tag('timer.js')

Pomodoro in progress...

#timer
  #init-value{:class => 'hidden'}
    = @remaining_time

#finished{:class => 'hidden'}
  Pomodoro finished, to you want to
  =link_to "start a new one?", new_pomodoro_url