<div class='statistics'>
  <img src='https://chart.googleapis.com/chart?cht=p3&chs=350x200&chd=t:<%= @stats[:all_time][:success] %>,<%= @stats[:all_time][:failures] %>&chl=Success|Failures&chco=00FF00|FF0000&chtt=All%20Time'/>
</div>
<%= link_to 'Back to index', pomodoros_url %>