body {
    background-color: #66CCFF;
}

#timer {
    font-size:20em;
    text-align: center;
}

.error {
    background-color: red;
}

.warning {
    background-color: yellow;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}