- if Rails.env.development?
  #dev_info= "Development - #{controller.controller_name} : #{controller.action_name}"
- if Rails.env.staging?
  #staging_info Staging
- if Rails.env.test?
  #test_info Test